frames/
frames_SR/
frames_SR2/
frames_blur/
frames_color_after/
frames_color_before/
frames_inpaint/
frames_SR_after/
frames_SR_after2/
frames_SR_before/
frames_sub/
frames_sub_after/
frames_versus/
frames_VFI/
frames512/
Uformer/datasets/
Uformer/results/
VCGAN/img/
VFI-with-AdaCoF/gif

*.mp4
*.pt
*.pth
*.jpg
*.pkl
*.m4a
*.zip